* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Arial", Helvetica, sans-serif;
}

@media (max-width: 768px) {
  * {
    font-size: 45%;
  }
}

:root {
  --primary-color: #329bcf;
}

body {
  background-image: url("background-body.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

body * {
  font-size: 2rem;
}

body .slideshow {
  position: absolute;
  z-index: -1;
  border-bottom: solid 0.1rem black;
}

body .slideshow .slide {
  display: none;
  width: 100%;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  body .slideshow {
    position: static;
  }
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 10%;
  margin-left: 10%;
}

body .container .login-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 3rem;
  background-color: var(--primary-color);
  color: white;
}

@media (max-width: 768px) {
  body .container .login-nav {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

body .container .login-nav h1 {
  font-size: 3.5rem;
  margin: 1rem;
  letter-spacing: 0.1rem;
}

body .container .login-nav h2 {
  margin: 1rem;
}

body .container .login-nav p {
  margin: 1rem;
}

body .container .login-nav form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container .login-nav form input {
  margin: 1rem;
  padding: 1rem;
  border: none;
  border-bottom: solid black 1px;
  outline: none;
}

body .container .login-nav form button {
  margin: 1rem;
  padding: 1rem;
}

body .container .cards-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

body .container .cards-outer .cards-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media (max-width: 768px) {
  body .container .cards-outer .cards-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body .container .cards-outer .cards-inner .card-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: var(--primary-color);
  color: #ebf0fa;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
}

body .container .cards-outer .cards-inner .card-1 h3 {
  font-size: 2.5rem;
  margin: 1rem;
  text-transform: uppercase;
}

body .container .cards-outer .cards-inner .card-1 p {
  margin: 1rem;
  line-height: 1.5;
}

body .container .cards-outer .cards-inner .card-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #008ffc;
  color: #ebf0fa;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
}

body .container .cards-outer .cards-inner .card-2 h3 {
  font-size: 2.5rem;
  margin: 1rem;
  text-transform: uppercase;
}

body .container .cards-outer .cards-inner .card-2 p {
  margin: 1rem;
  line-height: 1.5;
}

body .container .cards-outer .cards-inner .card-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #224ca8;
  color: #ebf0fa;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
}

body .container .cards-outer .cards-inner .card-3 h3 {
  font-size: 2.5rem;
  margin: 1rem;
  text-transform: uppercase;
}

body .container .cards-outer .cards-inner .card-3 p {
  margin: 1rem;
  line-height: 1.5;
}

body .container .about {
  margin-top: 10%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .about div {
  padding: 3rem;
  border-right: solid 0.2rem #008ffc;
  border-left: solid 0.2rem #008ffc;
}

body .container .about div h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

body .container .about img {
  height: 40rem;
  width: 40rem;
  padding: 1rem;
}

@media (max-width: 768px) {
  body .container .about img {
    height: 20rem;
    width: 20rem;
  }
}

body .container .grid-cards {
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #44bffc;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container .grid-cards h2 {
  font-size: 3rem;
  padding: 2rem;
  color: white;
  text-align: center;
}

body .container .grid-cards div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .grid-cards div .grid-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: var(--primary-color);
  color: #ebf0fa;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
}

body .container .grid-cards div .grid-1 h3 {
  font-size: 2.5rem;
  margin: 1rem;
  text-transform: uppercase;
}

body .container .grid-cards div .grid-1 p {
  margin: 1rem;
  line-height: 1.5;
}

body .container .grid-cards div .grid-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #008ffc;
  color: #ebf0fa;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
}

body .container .grid-cards div .grid-2 h3 {
  font-size: 2.5rem;
  margin: 1rem;
  text-transform: uppercase;
}

body .container .grid-cards div .grid-2 p {
  margin: 1rem;
  line-height: 1.5;
}

body .container .grid-cards div .grid-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #0d79cc;
  color: #ebf0fa;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
}

body .container .grid-cards div .grid-3 h3 {
  font-size: 2.5rem;
  margin: 1rem;
  text-transform: uppercase;
}

body .container .grid-cards div .grid-3 p {
  margin: 1rem;
  line-height: 1.5;
}

body .container .grid-cards div .grid-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #224ca8;
  color: #ebf0fa;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
}

body .container .grid-cards div .grid-4 h3 {
  font-size: 2.5rem;
  margin: 1rem;
  text-transform: uppercase;
}

body .container .grid-cards div .grid-4 p {
  margin: 1rem;
  line-height: 1.5;
}

body .container .faq {
  margin-top: 15%;
  text-align: center;
}

body .container .faq .faq-div {
  margin-bottom: 6%;
}

body .container .faq .faq-div .faq-question {
  border-bottom: 0.1rem solid gray;
  font-weight: bold;
  font-size: 3rem;
  margin-right: 5%;
  cursor: pointer;
  margin: 1rem;
}

body .container .faq .faq-div .faq-body {
  height: 0;
  opacity: 0;
  padding: 0px 1.5rem;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

body .container .faq .faq-div .faq-body.active {
  height: auto;
  opacity: 1;
  padding: 1rem;
}

body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
  background-color: #224ca8;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 3rem;
  line-height: 2;
  color: white;
}
/*# sourceMappingURL=styles.css.map */