@mixin card($background-color) {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $background-color;
    color: #ebf0fa;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

    h3 {
        font-size: 2.5rem;
        margin: 1rem;
    }

    p {
        margin: 1rem;
    }
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;

    @media (max-width: 768px) {
        font-size: 45%;
    }
}
 
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ebf0fa;


    * {
        font-size: 2rem;
    }

    .header {
        height: 55rem;
        width: 100%;
        position: absolute;
        background-color: #dbdbdb;
        z-index: -1;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .login-header {
            display: flex;
            flex-direction: column;
            align-self:flex-start;
            align-items: flex-start;
            margin-top: 10rem;
            margin-bottom: 10rem;
            padding: 3rem;
            background-color: #20a0f5;

            h2 {
                margin: 1rem;
            }

            h1 {
                margin: 1rem;
            }

            p {
                color: #ebf0fa;
                margin: 1rem;
            }

            input {
                margin: 1rem;
                padding: 1rem;
                border: none;
                border-bottom: solid black 1px;
                outline: none;
            }

            button {
                margin: 1rem;
                padding: 1rem;
            }
        }
        
        .cards-outer {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            
            .cards-inner {
                display: flex;    
                width: 100%;

                @media (max-width: 768px) {
                    flex-direction: column;
                }
    
                .card-1 {
                    @include card(#44bffc);
                }
    
                .card-2 {
                    @include card(#008ffc);
                }
    
                .card-3 {
                    @include card(#224ca8);
                }
            }
        }

        .about {
            margin-top: 5rem;
            margin-bottom: 5rem;

            h2 {
                font-size: 3rem;
   
            }

            div {
                display: flex;
                justify-content: space-between;
                margin-top: 5rem;

                p {

                    width: 50%;
                }

                ul {

                }
            }
        }
    }
}

